<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head')%>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav')%>
   <% if (locals.user) { %>
    <div class="container mt-3">
        <% blogs.forEach(blog => { %>
            <div class="card mt-3" style="width: 18rem; height: 24rem; float: left; margin-right: 1rem;">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="Cover Image" style="height: 12rem; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><%=blog.title%></h5>
                    <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">
                        <%=blog.body%>
                    </p>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <% }) %>
    </div>
  
<% } else { %>
    <div class="container mt-3">
        <div class="alert alert-info" role="alert">
            Welcome to our blog site! Please log in to view and create blogs.
        </div>
    </div>
<% } %>

    <%- include('./partials/script')%>
</body>
</html>